@import "./mixins";
@import "./variabels";
@import "./keyframes";

.audio {
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 32px;
  color: white;
  height: 32px;
  // flex: 0 0 32px;
  font-size: 12px;
  font-family: "DMSans";
  padding-bottom: 25px;
  padding-left: 20px;
  @media (max-width: ($md2+px)) {
    display: none !important;
  }
  // .audio_title
  &_title {
    padding-left: 10px;
    z-index: 10;
    transition: 300ms ease all;
    margin-left: 80px;
    margin-bottom: 2px;
  }
  // .audio_title_changed
  &_title_changed {
    transform: translateX(10px);
  }
  path {
    transition: stroke 0.3s ease 0s;
  }
  // .audio_sleeping
  &_sleeping {
    // margin-right: 10px;
    svg {
      @media (any-hover: hover) {
        &:hover {
          path {
            stroke: #88f4f4;
          }
        }
      }
    }
    &.audio_active {
      path {
        stroke: #88f4f4;
      }
      svg {
        @media (any-hover: hover) {
          &:hover {
            path {
              stroke: #88f4f4;
            }
          }
        }
      }
    }
  }
  // .audio_next
  &_next {
    cursor: pointer;
    margin-left: 5px;
  }
  // .audio_awake
  &_awake {
    svg {
      @media (any-hover: hover) {
        &:hover {
          path {
            stroke: white;
          }
        }
      }
    }
    &.audio_active {
      path {
        stroke: white;
      }
      svg {
        @media (any-hover: hover) {
          &:hover {
            path {
              stroke: rgb(111, 40, 64);
            }
          }
        }
      }
    }
  }
  // .audio_change_reverse
  &_change_reverse {
    margin-right: 5px;
    transform: rotate(180deg);
  }
  // .audio_change
  &_change {
    margin-left: 5px;
  }
  // .audio_open
  &_open {
    width: 150px !important;
  }
  // .audio_play
  &_play {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 63px;
    background-color: #212121;
    color: white;
    display: flex;
    padding-left: 11px;
    align-items: center;
    border-radius: 32px;
    transition: 300ms ease all;
    border: 1px solid white;
  }
  // .audio__terminal
  &_terminal {
    svg {
      @media (any-hover: hover) {
        &:hover {
          path {
            stroke: rgb(111, 40, 64);
          }
        }
      }
    }
    &.audio_active {
      path {
        stroke: white;
      }
      svg {
        @media (any-hover: hover) {
          &:hover {
            path {
              stroke: rgb(111, 40, 64);
            }
          }
        }
      }
    }
  }
}
