.journey {
  margin-top: 163px;
  display: flex;
  justify-content: center;
  // .journey__title
  &__title {
    color: #fff;
    font-family: "ApocLC";
    font-size: 24px;
    margin-bottom: 20px;
  }
  // .journey__all
  &__all {
    margin-top: -45px;
  }
  // .journey__menu
  &__menu {
    display: flex;
    max-width: 218px;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.72px;
    line-height: 100%;
    padding: 0px;
    font-family: "ApocLC", sans-serif;
    color: #fff;
    margin-right: 20px;
  }

  .journey__type {
    position: absolute;
    color: white;
    opacity: 0;
    margin-top: 10px;
    width: 151px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.70);
    font-size: 14px;
  }
  .journey__author {
    position: absolute;
    margin-top: -25px;
    font-size: 16px;
    color: #969696;
    opacity: 0;
    width: 151px;
    text-align: center;
  }
  .journey__text {
    position: absolute;
    margin-top: -45px;
    font-size: 16px;
    color: white;
    opacity: 0;
    width: 151px;
    text-align: center;
  }
  // .journey__list
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 629px;
  }
  &__el {
    &:hover {
      .journey__text {
        opacity: 1;
      }
      .journey__author {
        opacity: 1;
      }
      .journey__type {
        z-index: 1;
        opacity: 1;
      }
      .journey__image {
        filter: brightness(0.3);
      }
    }
  }
  // .journey__image
  &__image {
    width: 151px;
    height: 181px;
    border-radius: 10px;
    object-fit: cover;
    transition: 300ms ease all;

  }
  // .journey__divider
  &__divider {
    border-radius: 20px;
    background-color: #fff;
    align-self: center;
    height: 4px;
    width: 100%;
    // .journey__divider_large
    &_large {
      margin-top: 134px;
    }
  }
  // .journey__contribute
  // .journey__description
  &__description,
  &__contribute {
    line-height: 20px;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
    &_large {
      margin-top: 14px;
    }
    a {
      color: white;
      text-decoration: underline;
    }
  }
  // .journey__stats
  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 18px;
    // .journey__stats_active
    &_active {
      background-color: white !important;
      color: black;
    }
    // .journey__stats_item
    &_item {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      width: 103px;
      height: 23px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      padding: 4px;
      background-color: rgba(0, 0, 0, 0.7);
    }
    // .journey__stats_label
    // .journey__stats_value
    &_label,
    &_value {
      font-family: inherit;
    }
  }
  @media (max-width: 880px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 74px;
    max-height: calc(100vh - 74px);
    // .journey__all
    &__all {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
    }
    // .journey__menu
    &__menu {
      max-width: 359px;
      width: 317px;
      margin-right: 0px;
    }
    // .journey__list
    &__list {
      display: grid;
      max-width: 359px;
      width: 100%;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
    }
    // .journey__title
    &__title {
      max-width: 359px;
      width: 100%;
    }
    // .journey__divider
    &__divider {
      // .journey__divider_large
      &_large {
        display: none;
      }
    }
    // .journey__stats
    &__stats {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    // .journey__contribute
    &__contribute {
      display: none;
    }
  }
}
