.tower {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}
.modal {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.tower__modal {
  width: 70vw;
  position: absolute;
  top: 0;
  left: 100vw;
  transition: 1000ms cubic-bezier(0.65, 0, 0.78, 0.36) all;
  z-index: 1000000;
}
.clickable {
  position: absolute;
  width: 8vw;
  height: 35vh;
  cursor: pointer;
  top: 25vh;
  left: 50vw;
  transform: translateX(-50%);
}
.tower__descr {
  color: #fff;
  font-family: "ApocLC";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.72px;
  width: 345px;
  margin-left: 64px;
}
.tower__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.return {
  display: flex;
  margin-top: 273px;
  margin-bottom: 63px;
  cursor: pointer;
}
.tower__bottom__text {
  color: #fff;
  font-family: "ApocLC";
  font-size: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.72px;
  max-width: 493px;
  margin-bottom: 10px;
}
.lastTopic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(33, 33, 33, 1);
  margin-left: 30px;
}
.tower11 {
  width: 338px;
  height: 338px;
}
.tower10 {
  width: 48px;
  height: 58px;
}
.tower12 {
  width: 338px;
  height: 338px;
  margin-top: -338px;
  opacity: 0;
}
.tower__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tower__name {
  color: #fafafa;
  text-align: center;
  font-family: "ApocLC";
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  line-height: 53px; /* 132.5% */
  letter-spacing: 2.4px;
}
.tower__nums {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
.tower__num_v {
  border-radius: 0px 14px 14px 0px;
  border: 1px solid rgba(255, 255, 255, 0.22);
  background: linear-gradient(
    90deg,
    rgba(16, 107, 107, 0.57) 39.52%,
    rgba(16, 107, 107, 0.13) 100%
  );
  color: #fff;
  font-family: "ApocLC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.96px;
  height: 27px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}
.tower__num_s {
  border-radius: 14px 0px 0px 14px;
  border: 1px solid rgba(255, 255, 255, 0.22);
  background: linear-gradient(90deg, rgba(87, 39, 39, 0.13) 0%, #723141 100%);
  color: #fff;

  font-family: "ApocLC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.96px;
  height: 27px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding-right: 10px;
}
